/* Базовые переменные для анимации */
$transTime: .2s;
/* конец */

/* Базовые переменные */
$baseColor: rgba(38, 131, 224, 1);
$baseColorHover: rgba(38, 131, 224, .8);
$color: rgb(213, 213, 213);
$colorHover: rgba(163, 163, 163, .9);
$colorRemove: rgba(219, 31, 31, 1);
$hoverRemove: rgba(219, 31, 31, .9);
/* конец */
